* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

div {
    margin: 0 0 20px 20px;
}

body {
    animation: animacao_cor_de_fundo 4s infinite;
}

@keyframes animacao_cor_de_fundo {
    0% {
        background-color: blue;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: blue;
    }
}

.imagens .imagem:nth-child(1) {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url("../images/leão.jpg");
    background-position: center;
    background-size: 100% 100%;
    transition: all linear 2s;
}

.imagens .imagem:nth-child(1):hover {
    background-image: url("../images/tigre.jpg");
    width: 550px;
    height: 350px;
}

.imagens .imagem:nth-child(2) {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url("../images/leopardo.jpg");
    background-position: center;
    background-size: 100% 100%;
    transition: all linear 1s;
    border: 10px solid rgba(255, 255, 255, 0);
}

.imagens .imagem:nth-child(2):hover {
    border: 10px solid white;
}