*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

h2{
    margin: 15px auto;
}

p{
    margin: 10px auto;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
}

.imagens{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.imagem-wrapper{
    width: calc(100% / 4);
}

.imagem{
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.texto{
    margin-top: 20px;
    text-align: center;
}

.texto p{
    margin: 20px 0;
    font-size: 20px;
}

.botao{
    margin: 20px auto 0 auto;
    text-align: center;
}

.botao button{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 1%;
}